### Importing Pandas to perform operations on Table and DataFrame

In [52]:
import pandas as pd

* > url - Link to <a href="https://en.wikipedia.org/wiki/List_of_Spanish_football_champions">Wikipedia Page</a>
 of La Liga Winners.
* > pd.read_html - Converts HTML Table to Pandas DataFrame.

In [53]:
url='https://en.wikipedia.org/wiki/List_of_Spanish_football_champions'
dataframe = pd.read_html(url, header=0)[2]

In [54]:
dataframe.head()

,Season,Winner[3],Runner-up[6][7],Third place[6][7],Top scorer(s)[8],Top scorer's club(s)[8],Goals[8][9],Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,1929,Barcelona (1),Real Madrid (1),Athletic Bilbao,Paco Bienzobas,Real Sociedad,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1929–30,Athletic Bilbao (1),Barcelona (1),Arenas,Guillermo Gorostiza,Athletic Bilbao,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1930–31,Athletic Bilbao (2),Racing Santander (1),Real Sociedad,Agustín Sauto Arana,Athletic Bilbao,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1931–32,Real Madrid (1),Athletic Bilbao (1),Barcelona,Guillermo Gorostiza,Athletic Bilbao,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1932–33,Real Madrid (2),Athletic Bilbao (2),Espanyol,Manuel Olivares,Real Madrid,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Renaming Column Names. And Deleting Unnamed Columns.

In [55]:
dataframe = dataframe.rename(columns={'Winner[3]':'Winner', 'Runner-up[6][7]':'Runner-up','Third place[6][7]':'Third Place','Top scorer(s)[8]':'Top Scorer','Top scorer\'s club(s)[8]':'Top scorer\'s club(s)','Goals[8][9]':'Goals'})
dataframe = dataframe.loc[:, ~dataframe.columns.str.contains('^Unnamed')]

In [56]:
dataframe.head()

,Season,Winner,Runner-up,Third Place,Top Scorer,Top scorer's club(s),Goals
0,1929,Barcelona (1),Real Madrid (1),Athletic Bilbao,Paco Bienzobas,Real Sociedad,14
1,1929–30,Athletic Bilbao (1),Barcelona (1),Arenas,Guillermo Gorostiza,Athletic Bilbao,19
2,1930–31,Athletic Bilbao (2),Racing Santander (1),Real Sociedad,Agustín Sauto Arana,Athletic Bilbao,27
3,1931–32,Real Madrid (1),Athletic Bilbao (1),Barcelona,Guillermo Gorostiza,Athletic Bilbao,12
4,1932–33,Real Madrid (2),Athletic Bilbao (2),Espanyol,Manuel Olivares,Real Madrid,16

#### Removing Parantheses, Numbers and Special Characters from DataFrame Entries.

In [57]:
dataframe['Winner'] = dataframe['Winner'].map(lambda x: x.rstrip('*'))
dataframe['Winner'] = dataframe['Winner'].map(lambda x: x.rstrip('†'))
dataframe['Winner'] = dataframe['Winner'].map(lambda x: x.rstrip('‡'))
dataframe['Winner'] = dataframe['Winner'].str.replace('\d+', '')
dataframe['Winner'] =  dataframe['Winner'].apply(lambda x: x.replace('(','').replace(')',''))

In [58]:
dataframe['Runner-up'] = dataframe['Runner-up'].str.replace('\d+', '')
dataframe['Runner-up'] =  dataframe['Runner-up'].apply(lambda x: x.replace('(','').replace(')',''))

#### Cleaned DataFrame

In [59]:
dataframe.head()

,Season,Winner,Runner-up,Third Place,Top Scorer,Top scorer's club(s),Goals
0,1929,Barcelona,Real Madrid,Athletic Bilbao,Paco Bienzobas,Real Sociedad,14
1,1929–30,Athletic Bilbao,Barcelona,Arenas,Guillermo Gorostiza,Athletic Bilbao,19
2,1930–31,Athletic Bilbao,Racing Santander,Real Sociedad,Agustín Sauto Arana,Athletic Bilbao,27
3,1931–32,Real Madrid,Athletic Bilbao,Barcelona,Guillermo Gorostiza,Athletic Bilbao,12
4,1932–33,Real Madrid,Athletic Bilbao,Espanyol,Manuel Olivares,Real Madrid,16

#### Generating CSV file from DataFrame

In [60]:
dataframe.to_csv('La Liga Champions.csv')